{
	"extensions": {
		"recommendations": [
			"Vue.volar",
			"Vue.vscode-typescript-vue-plugin",
			"bradlc.vscode-tailwindcss"
		]
	},
	"folders": [
		// General locations
		// { "name": "root",					"path": "." },
		// { "name": "Github Files",			"path": "./.github" },

		// Component locations
		// { "name": "components",				"path": "./src/components" },

		// Test locations
		// { "name": "General Test Directory",	"path": "./test" },

		// User defined locations

	],
	"settings": {
		"editor.tabSize": 4,
		"editor.insertSpaces": false,
		"editor.detectIndentation": false,
		"editor.renderWhitespace": "all",
		"editor.minimap.enabled": false,
		"files.insertFinalNewline": true,
		"files.trimFinalNewlines": true,
		"files.trimTrailingWhitespace": true,
		"files.exclude": {
			"**/.DS_Store": true,
			"**/.git": true,
			"**/.hg": true,
			"**/.svn": true,
			"**/CVS": true,
			"**/Thumbs.db": true,
			"**/dist": true,
			"**/node_modules": true
		},
		"scss.lint.unknownAtRules": "ignore"
	}
}
