@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	.container {
		@apply flex;
		@apply bg-calculator-ocean;
		min-height: 100vh;
		min-width: 100vw;
	}

	#app {
		@apply border-r border-r-black;
		@apply p-4;
		@apply flex-1;
		max-width: 768px;
	}

	#history-container-shown-by-default {
		display: none;
	}

	@screen md {
		#app {
			max-width: unset;
		}

		#history-container-shown-by-default {
			display: block;
			min-width: 300px;
		}

	}
}

.rim {
	@apply bg-white;
	@apply rounded-md;
	height: 100%;

	&> .calculator-container {
		@apply border border-black rounded-md;
		@apply p-4;
	}
}

button:not(.no-border) {
	@apply m-[1px] px-2 py-1;
	@apply border border-neutral-800 rounded-md;
	@apply text-xl text-neutral-800;
}
